<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>K5</title>
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="shortcut icon" href="../static/img/K5.ico" type="image/x-icon">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=B612&family=IBM+Plex+Serif:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div class='block2'>
          <div class='text'>
              K5
          </div>
        </div>
        <div class="title present">
                Знак влияния №{{n}}
        </div>
        <div class="block present">
            Уникальный код: {{kod}}
        </div>
      <div class="block present">
            {{name}}
        </div>
        <div class="block present color">
            Каждый знак уникален<br>
            Выпущено 10 знаков
        </div>
        <div class="footer present">
            © 2023 Copyright: Product of the K5 project
        </div>
    </main>
</body>
</html>